[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==2.0.1+cu117", index = "downloadpytorch"}
torchvision = {version = "==0.15.2+cu117", index = "downloadpytorch"}
torchaudio = {version = "==2.0.2+cu117", index = "downloadpytorch"}
tdqm = "*"
tensorboard = "*"
pettingzoo = {extras = ["butterfly", "mpe"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
